
<section id="contact">
  <div class="container">
    <hr/>
    <div class="row">
      <div class="col-lg-1 col-md-3 col-sm-3 col-xs-3"><img src="../img/ico/phone.png" height="60px" width="60px"/></div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
        <p style="font-size: 20px;">(063)040-06-87<br/>  (063)153-25-98</p>
      </div>
      <div class="col-lg-3 col-lg-offset-6 footer-img col-md-3 col-sm-3 col-xs-3"><a href="https://vk.com/bmgtattoo"><img src="../img/ico/vk.png" height="60px" width="60px"/></a><a href="https://www.instagram.com/bogdan_lutsenko/"><img src="../img/ico/instagram.png" height="50px" width="50px"/></a></div>
    </div>
  </div>
</section>