@font-face {
    font-family: Cleo; /* Имя шрифта */
    src: url("../fonts/Cleopatra.ttf"); /* Путь к файлу со шрифтом */
}

.aboutContentText{

    font-family: Cleo;
    font-size: 34px;
    color: white;
    margin-top: 9vh;
    margin-bottom: 9vh;



}

#contact{
    padding: 0;
}

@media screen and (max-height: 600px){
    .aboutContentText {
        font-size: 15px;
    }
}



.portfolioImg{
    margin-bottom: 40px;
    margin-top: 20px;
}

.footer-img img:hover{

    cursor: pointer;
}