<head>
    <meta charset="UTF-8">
    <title>about</title>

    <link rel="stylesheet" href="css/about.css">
</head>
    <div ng-controller="articleController">


        <div class="container">

            <div ng-repeat="element in newsArray">

                <div class="col-lg-4" id="post">
                    <h3>{{element.title}}</h3>

                    <img ng-src='data:image/png;base64,{{element.image}}' height="250px" width="250px">


                    <p>{{element.text}}</p>

                </div>


            </div>
            </div>


        </div>
