
html(ng-app="app")
    head
        include head
    body
       include menu
       div.container-fluid.contents
           h1.text-center Богдан Луценко

           div.row
               div.col-lg-4(style="width: 400px")
                   img.img-circle.img-responsive(src="../img/master.jpg" width="400px" height="300px")

               div.col-lg-6.aboutText.text-justify    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar turpis quam, eu sagittis ex pulvinar eu. Morbi elementum auctor interdum. Donec nec risus risus. Nullam ullamcorper mauris sit amet augue bibendum fringilla. Nulla erat ante, dapibus facilisis luctus ac, pharetra a odio. In egestas ligula molestie nunc iaculis convallis. Duis eget gravida risus, non lobortis lacus. Aenean nec feugiat diam. Suspendisse mattis auctor ornare. Integer a magna quis quam euismod convallis. Mauris eu mauris elementum orci tristique posuere. Curabitur luctus elit nec hendrerit mollis. Pellentesque pharetra sapien vitae diam aliquet rutrum. Quisque consequat nibh ac cursus mattis. Sed tempor gravida nulla a lobortis.
               div.col-lg-2.aboutContact.aboutText
                   br

           hr
           h1.text-center Денис Кавко
           div.row
               div.col-lg-2.aboutContact ktktk
               div.col-lg-6.aboutText.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar turpis quam, eu sagittis ex pulvinar eu. Morbi elementum auctor interdum. Donec nec risus risus. Nullam ullamcorper mauris sit amet augue bibendum fringilla. Nulla erat ante, dapibus facilisis luctus ac, pharetra a odio. In egestas ligula molestie nunc iaculis convallis. Duis eget gravida risus, non lobortis lacus. Aenean nec feugiat diam. Suspendisse mattis auctor ornare. Integer a magna quis quam euismod convallis. Mauris eu mauris elementum orci tristique posuere. Curabitur luctus elit nec hendrerit mollis. Pellentesque pharetra sapien vitae diam aliquet rutrum. Quisque consequat nibh ac cursus mattis. Sed tempor gravida nulla a lobortis.

               div.col-lg-4(style="width: 400px; position:relative")
                   img.img-circle.img-responsive(src="../img/manager.jpg" width="400px" height="300px")
       include footer
