block menu
nav#mainNav.navbar.navbar-default.navbar-fixed-top
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href='index.html')
                | BMGT
        div#navigation.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a.page-scroll(href='#') Студия
                li
                    a.page-scroll(href='about.html') Портфолио
                li
                    a.page-scroll(href='http://bmgt.herokuapp.com/#!/article') Новости
                li
                    a.page-scroll(href='') Акции
                li
                    a.page-scroll(href='about.html') О нас