block menu
nav#mainNav.navbar.navbar-default.navbar-fixed-top
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href='#page-top') BMGT
        div#navigation.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a.page-scroll(href='#') Главная
                li
                    a.page-scroll(href='about.html') О нас
                li
                    a.page-scroll(href='') Галерея
                li
                    a.page-scroll(href='') Эскизы
