html(ng-app="app")
    head
        include head
    body
        include menu
        div.container-fluid(style="padding:0")
            div#grid-gallery.grid-gallery
                section.grid-wrap
                    ul.grid
                        li.grid-sizer
                        li
                            figure
                                img(src="../img/paint.png")
                                figcaption
                                    h3 Hello
                                    p Dratuti
                        li
                            figure
                                img(src="../img/sale.jpg")
                                figcaption
                                    h3 Hello
                                    p Dratuti
                        li
                            figure
                                img(src="../img/logo.png")
                                figcaption
                                    h3 Hello
                                    p Dratuti
                        li
                            figure
                                img(src="../img/machine.png")
                                figcaption
                                    h3 Hello
                                    p Dratuti
                        li
                            figure
                                img(src="../img/paint.png")
                                figcaption
                                    h3 Hello
                                    p Dratuti
                        li
                            figure
                                img(src="../img/sale.jpg")
                                figcaption
                                    h3 Hello
                                    p Dratuti
                        li
                            figure
                                img(src="../img/logo.png")
                                figcaption
                                    h3 Hello
                                    p Dratuti
                        li
                            figure
                                img(src="../img/machine.png")
                                figcaption
                                    h3 Hello
                                    p Dratuti
                section.slideshow
                    ul
                        li
                            figure
                                figcaption
                                    h3 Hahaha
                                    p JS Code i Like this
                                img(src="../img/master.jpg")
                        li
                            figure
                                figcaption
                                    h3 Hahaha
                                    p JS Code i Like this
                                img(src="../img/news.jpg")
                        li
                            figure
                                figcaption
                                    h3 Hahaha
                                    p JS Code i Like this
                                img(src="../img/manager.jpg")
                        li
                            figure
                                figcaption
                                    h3 Hahaha
                                    p JS Code i Like this
                                img(src="../img/header1.jpg")
                        li
                            figure
                                figcaption
                                    h3 Hahaha
                                    p JS Code i Like this
                                img(src="../img/master.jpg")
                        li
                            figure
                                figcaption
                                    h3 Hahaha
                                    p JS Code i Like this
                                img(src="../img/news.jpg")
                        li
                            figure
                                figcaption
                                    h3 Hahaha
                                    p JS Code i Like this
                                img(src="../img/manager.jpg")
                        li
                            figure
                                figcaption
                                    h3 Hahaha
                                    p JS Code i Like this
                                img(src="../img/header1.jpg")
                    nav
                        span.icon.nav-prev
                        span.icon.nav-next
                        span.icon.nav-close(style = "padding-top:60px;")


                script new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
        include footer