@font-face {
    font-family: Cleo; /* Имя шрифта */
    src: url("fonts/Cleopatra.ttf"); /* Путь к файлу со шрифтом */
}

.aboutContentText{

    font-family: Cleo;
    font-size: 29px;
    color: white;
    margin-top: 9vh;
    margin-bottom: 9vh;



}

#contact{
    padding: 0;
}

@media screen and (max-width: 800px){
    .aboutContentText {
        font-size: 12px;
    }
}



.portfolioImg{

    /*width: 300px;*/
    /*height: 150px;*/
    /*max-height: 500px;*/
    /*overflow: hidden;*/


    /*position: relative;*/
    /*padding: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    margin-bottom: 40px;
    margin-top: 20px;
}

.portfolioImg img{
    width: 500px;
    height: 500px;
}

.footer-img img:hover{
    cursor: pointer;
}