@font-face {
    font-family: Cleo; /* Имя шрифта */
    src: url("fonts/Cleopatra.ttf"); /* Путь к файлу со шрифтом */
}

.aboutContentText{

    font-family: Cleo;
    font-size: 34px;
    color: white;
    margin-top: 9vh;
    margin-bottom: 9vh;



}

@media screen and (max-height: 480px){
    .aboutContentText {
        font-size: 15px;
    }
}

@media screen and (max-height: 600px) {
    .aboutContentText {
        font-size: 19px;
    }
}
@media screen and (max-width: 850px) {
    .aboutContentText {
        font-size: 24px;
    }
}
