body{
    background-color: #0b0b0b;
}

#content{


    margin: 100px auto 0 auto;

}

.new{
    color: white;
    margin: 0 auto;
    overflow: hidden;
    min-height: 70%;
    font-family: Cleo;





}

.new>h2{
    text-align: center;
    font-family: Cleo;
}

#newsBlock{
    margin: 0 auto;
    width: 80%;
}

.new p{
    margin-top: 20px;
    text-align: justify;

    height: 300px;
    overflow: hidden;


}

.new:hover{
    /*border: 1px solid white;*/
    cursor: pointer;
}

.new:hover>h2{
    color: coral;

}

.new img{
    margin: 0 auto;
    height: 300px;
    width: 100%;
}

#pagination{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 300px;
    margin: 0 auto;
}

@media screen and (max-width: 820px){
    .new>h2{
        text-align: center;
        font-family: Cleo;
        font-size: 15px;
    }
    .new{
        text-align: center;
        font-family: Cleo;
        font-size: 14px;
    }
}
