<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="js/app.js" defer></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/about.css">


</head>
<body ng-app="app">

    <div ng-controller="getNews">


        <div class="container">

            <div ng-repeat="element in newsArray">

                <div class="col-lg-4" id="post">
                    <h3>{{element.title}}</h3>

                    <img ng-src='data:image/png;base64,{{element.image}}' height="250px" width="250px">


                    <p>{{element.text}}</p>

                </div>


                <!--<div class="col-lg-4">-->

                    <!--<h3>{{element.title}}</h3>-->

                    <!--<button ng-click="show = !show">-->
                        <!--Show Text-->
                    <!--</button>-->

                    <!--<div ng-show = "show">-->
                        <!--{{element.text}}-->
                    <!--</div>-->
                </div>
            </div>


        </div>


    </div>
</body>
</html>