<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Black Mark Gang Tattoo</title>

    <link href="css/creative.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>




    <script src="js/slider.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/app.js"></script>


</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#page-top">
                    BMGT
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#">Студия</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="about.html">Портфолио</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="about.html">Новости</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="about.html">Акции</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">О нас</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" ng-controller="CarouselDemoCtrl" style="height: 100%; position: relative">
        <div class="row">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" style="width: 100vw;height: 100vh ;">

                </div>
            </div>
        </div>
    </div>

    <div class="bg-dark container-fluid">
        <div class="row" style="padding: 0;margin: 0">
            <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
                
            </div>

            <div class="text-center aboutContentText center-block col-lg-6 col-sm-6 col-xs-6 col-md-6 text-justify">
                Татуировки - это наш конек! Black Mark Gang Tattoo - это развивающийся, комфортабельный тату салон в Черкассах. Главной целью салона является предоставление высококлассного, квалифицированного обслуживания в уютной и доброжелательной атмосфере салона. Мы перевернём ваше представление о татуировках, воплотив ваши идеи и мечты в реальность - новое украшение никогда вам не надоест.
            </div>

            <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">

            </div>
        </div>


    </div>


    <div ng-controller="portfolioCtrl">
        <div class="insert" ng-style="ngPortfolio">
            <div class="container text-center">
                <div class="call-to-action">
                    <h1>Портфолио</h1>
                    <div class="row">
                        <div ng-repeat="element in newsArray">
                            <div class="col-lg-4">
                                <img ng-src='data:image/png;base64,{{element.image}}' height="250px" width="250px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="contact">
        <div class="container">
            <hr>
            <div class="row">

                <div class="col-lg-2">
                    <p>
                        (063)040-06-87
                        <br>
                        (063)153-25-98
                    </p>
                </div>

                <div class="col-lg-3 ">
                    <img src="img/ico/youtube.png" height="24" width="24"/>
                    <img src="img/ico/rus-vk-01.png" height="24" width="24"/>
                    <img src="img/ico/instagram.png" height="24" width="24"/>
                    <img src="img/ico/facebook.png" height="24" width="24"/>

                </div>
            </div>
        </div>
    </section>

</body>

</html>
